@use "./var.scss" as *;

// 标题样式
@mixin title() {
    display: flex;
    align-items: center;
    padding-bottom: 15px;
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
    font-size: 20px;

    box-icon {
        fill: #333;
        margin-right: 5px;
    }
}

// 图标样式
@mixin icon() {
    display: flex;
    align-items: center;
    color: #666;
    transition: color 0.3s;

    box-icon {
        fill: #666;
        width: 20px;
        height: 30px;
        margin-right: 5px;
        transition: fill 0.3s;
    }
}

// 容器样式
@mixin container {
    border: 1px solid #eee;
    border-radius: $round;
    background-color: #fff;
    box-shadow: 0px 2px 15px -3px rgba(121, 122, 243, 0.1);
}
